{
    email {$CADDY_EMAIL}
    admin off
}

{$CADDY_DOMAIN} {
    encode zstd gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        X-Frame-Options "DENY"
    }

    reverse_proxy api:8000
}
